ORACLE_PRIVATE_KEY=la_misma_key_del_deployer_para_testnet
RPC_URL=https://mainnet.base.org
PORT=3001
COVER_ROUTER=0x8407afBa100812bFb5f9f188b44379E4268eff94
POLICY_MANAGER=0x615e9c32c70350192fCa9BAC06Ba8ebA9dC4fEF4
